@import "tailwindcss";


@theme {
  --color-accent: #4CB050;
  --color-dark-accent: #21A326;
  --color-whitebg: #FFFAF0;
  --color-brand-black: #333333;
  --color-brand-grey:#D9D9D9;
  --color-text-grey: #6E6E6E;
}

@font-face {
  font-family: "InterVariable";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.recharts-wrapper *:focus {
  outline: none;
}

#nav {
  position: relative;
  clip-path: polygon(
    0 0,
    0 95%,
    3% 100%,
    6% 95%,
    9% 100%,
    12% 95%,
    15% 100%,
    18% 95%,
    21% 100%,
    24% 95%,
    27% 100%,
    30% 95%,
    33% 100%,
    36% 95%,
    39% 100%,
    42% 95%,
    45% 100%,
    48% 95%,
    51% 100%,
    54% 95%,
    57% 100%,
    60% 95%,
    63% 100%,
    66% 95%,
    69% 100%,
    72% 95%,
    75% 100%,
    78% 95%,
    81% 100%,
    84% 95%,
    87% 100%,
    90% 95%,
    93% 100%,
    96% 95%,
    99% 100%,
    100% 95%,
    100% 0
  );
}

